:root{
--dark-gray: 
#111827;
--light-gray: #F3F4F6;
--primary-color: 
#FBBF24;
--gray:#1F2937;













}


@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    background-color: var(--dark-gray);
    font-family: 'Montserrat', sans-serif;
    color: var(--light-gray);
}
.container-fluid{
    padding: 2rem 0rem;
}
.container-center{
    padding: 2rem 1rem;
    max-width:600px;
    margin:auto;

}
.Link{
    text-decoration: none;
    padding:0.5rem 1rem;
    font-size: 1rem;
    
    

}
.link-primary{
    
    color: var(--light-gray);
    padding: 0.5rem 0.5rem;
    background-color: var(--primary-color);
    border-radius: 00.5rem;
    

}
.link-secondary{
    color: var(--light-gray);
    padding:0.5rem 0.5rem;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}
hr{
    margin:2rem 0rem
}
.list-non-bullet{
    list-style:none ;
}

.list-item-inline{
    display: inline; 
    text-align:center 

}
.navigation{
    padding:2rem 1rem;
    background-color: var(--primary-color);
    border-bottom-left-radius:2rem
}
.navigation .Link{
    color: var(--light-gray);
    margin:auto;
}
.navigation .nav-pills{
    text-align: right;
}
.hero{
    padding:2rem 0rem;
}
.hero .hero-image{
    display: block;
    max-width:350px;
    margin:auto;
}
.hero .hero-text{
    padding:1rem 1rem;
    margin:auto;
    text-align:center;
}
.normal-section{
    padding:2rem 1rem;
}
.section-text{
    
    text-align:center;
}

.gray-section{
    padding:2rem 1rem;
    background-color: var(--gray);

}
footer{
    background-color:var(--primary-color);
    padding:1rem 1rem;
    border-top-right-radius:2rem ;
    text-align:center;
}
footer .Link{
    color: var(--light-gray);
    text-align:center;
}


    
   







    



    
    